extends layout

block content
  .container-fluid
    .col-md-12
      .explore-search
        .input-group
          input.form-control(id='input_search', type='text', placeholder='Search for a tag', aria-label="Recipient's username", aria-describedby='basic-addon2')
          .input-group-append
            button.btn.btn-primary(type='button', onclick='search()') Search
  #explore_feed
