extends layout

block content
	#feed
	.feed-error
		.alert.alert-warning
			i.fas.fa-exclamation-triangle &nbsp;
			span The site doesn't seem to have any image metadata. Please use a custom image.
	.add-to-collection-success
		.alert.alert-success
			i.fas.fa-check-circle &nbsp;
			span Added resource to the collection
