doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Everest | #{title}
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
    link(rel='stylesheet', href='css/Footer-Basic.css')
    link(rel='stylesheet', href='css/Highlight-Clean.css')
    link(rel='stylesheet', href='css/Login-Form-Clean.css')
    link(rel='stylesheet', href='css/Navigation-with-Button.css')
    link(rel='stylesheet', href='css/Registration-Form-with-Photo.css')
    link(rel='stylesheet', href='css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,700|Montserrat', rel='stylesheet')
    link(rel='icon', type='image/png', href='img/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='img/favicon/favicon-16x16.png', sizes='16x16')


  body
    //load navbar.jade
    include navbar

    //content block
    block content

    //footer
    .footer-basic
      footer
        ul.list-inline
          li.list-inline-item
            a(href='/') Home
          li.list-inline-item
            a(href='#') About
        p.copyright Raj Saha © 2017
    script(src='js/jquery.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="js/moment.min.js")
    script(src='js/script.js')
