extends layout

block content
			.login-clean
				form(method='post' action='/login')
					h2.sr-only Login Form
					.illustration
						i.fas.fa-lock
					.form-group
						input.form-control(id='input_username', type='username', name='username', placeholder='Username')
					.form-group
						input.form-control(id='input_password', type='password', name='password', placeholder='Password')
					.form-group
						button.btn.btn-primary.btn-block(type='submit', style='background-color:rgb(253,94,15);') Log In
