extends layout

block content
	.container
		.row
			.col-md-6.profile-box
				h2 Personal Details
				form
					.form-group
						label(for='exampleInputEmail1') Name
						input.form-control(type='text', aria-describedby='emailHelp', placeholder=name, name='user_fullname')
					.form-group
						label(for='exampleInputPassword1') Email
						input.form-control(type='email', placeholder=email, name='user_email')
					button.btn.btn-primary(type='button' onclick='update_user_details()') Update
			.col-md-6.profile-box
				h2 Collections
				.collections
					#{collections}
		.row
			.col-md-12
				.error-user-profile
