extends layout

block content
	.container
		.row
			.col-md-6.profile-box
				h2 Personal Details
				form
					.form-group
						label(for='exampleInputEmail1') Name
						input.form-control(type='text', aria-describedby='emailHelp', placeholder=name, name='user_fullname')
					.form-group
						label(for='exampleInputPassword1') Email
						input.form-control(type='email', placeholder=email, name='user_email')
					button.btn.btn-primary(type='button' onclick='update_user_details()', style='margin-bottom:25px;') Update
				
				h2 Followers
				if followers == ''
					p You're not following anyone yet. Go follow someone!
				else
					each follower in followers
						if follower != username
							.followers
								span(onclick='load_user_profile(\''+ follower +'\')')=follower
								span &nbsp;
								button.btn.btn-success.float-right(id="btn_follow_" + follower onclick="unfollow_user('"+ follower +"')")
									i.fas.fa-user-plus
			.col-md-6.profile-box
				h2 Collections
				.collections
					if collections == ''
						p You don't have any collections yet. Go make one!
					else
						#{collections}
		.row
			.col-md-12
				.error-user-profile
