extends layout

block content
  .container
    .row
      .col-md-12
        h3.text-center(style='margin-top:50px;') #{collection_user}'s
        h1.text-center #{collection_title}
    .row
      .col-md-12
        #{collection}
