.highlight-clean {
  color:#313437;
  background-color:#fff;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding:50px 0;
  margin-bottom: 50px;
  height:65vh;
}

.highlight-clean h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color:rgba(0,0,0,0.7);
  font-size: 100px;
  text-align: center;
  margin-top:50px;
  animation: move-up 1s ease-in-out;
  animation-fill-mode: forwards;
}

.highlight-clean p {
  color:white;
}

.highlight-clean h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  margin-bottom:25px;
  padding-top:0;
  margin-top:0;
  color:rgba(0,0,0,0.7);
  text-transform: uppercase;
  animation: move-up 1s ease-in-out;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.highlight-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 25px;
}

.highlight-clean .buttons {
  text-align:center;
}

.highlight-clean .buttons .btn {
  padding:16px 32px;
  margin:6px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
  outline:none;
  background-color:#ddd;
}

.highlight-clean .buttons .btn:hover {
  opacity:1;
}

.highlight-clean .buttons .btn:active {
  transform:translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color:#055ada;
  color:#fff;
}

.sign-in {
  padding:25px;
}

.sign-in a {
  color:#ef1b61;
}

@keyframes move-up {
  0% {
    opacity:0;
    transform: translateY(50px);
  }

  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@media (max-width:768px) {
  .highlight-clean {
    height: 100vh;
  }

  .highlight-clean h1 {
    margin-top:50%;
    font-size: 50px;
    color:rgba(255,255,255,1);
  }

  .highlight-clean h2 {
    font-size: 25px;
    padding:25px;
    color:rgba(255,255,255,1);
  }
}
