.no-padding {
  padding:0;
}

.cards {
  display:none;
}

.resource-card>.cards {
  border:1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  margin-bottom: 50px;
  display: inherit;
}

.card-title {
  padding-left:15px;
  padding-top:15px;
}

.card-body {
  padding:0;
}

.card-text {
  padding-left:15px;
}

.resource-tag {
  margin:10px 10px 25px 0px;
}

.resource-tags-container {
  padding-left: 15px;
}

.resource-tag:nth-last-of-type(1) {
  margin-right:0px;
}

.resource-actions-container {
  background-color:#EBE9E9;
  padding:15px;
  width:inherit;
}

.resource-actions-container form {
  margin-bottom: 25px;
}

.share-resources-button {
  border-radius:5px;
}

.profile-sidebar {
  margin-top:25px;
  margin-bottom:25px;
}

.profile-sidebar-content {
  margin-top:25px;
  margi
}

.profile-box {
  padding:25px;
  margin-top:25px;
  border-radius: 5px;
}

.collection-box p {
  display:inline-block;
  padding:25px;
  margin:4px;
  background-color:#009688;
  color:white;
  border-radius: 5px;
}

.signup-button {
  background: transparent;
  color:#333333;
  border-color:#333333;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.resource-card .card {
  display:inherit;
}

.collections>.card-container {
  display:inline-block;
  margin-right: 4px;
}

.collections>.card-container>img {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.collections>.card-container>.card-body {
  position: absolute;
  bottom:0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color:white;
}

.collections>.card-container>.card-collection-p>.card-text {
  padding-left: 0px;
  padding:10px;
}

.card-container {
  display: none;
}

.user-bar {
  margin-bottom: 25px;
}

.user-bar span {
  cursor: pointer;
}

.form-inline {
  display: inline;
}

.recommended-by-count {
  font-size: 12px;
  margin-bottom: 25px;
  color:black;
  padding-left:15px;
}

.explore-search {
  margin-left: auto;
  margin-right: auto;
  padding: 5% 25% 0% 25%;
}

.comment-box {

}

.comment-time {
  color:#858383;
}

.add-comment-form {
  padding-top:15px;
}

.margin-right-to-button {
  margin-right:4px;
}

.collection-inputbox {
  display:none;
}

.collection-dropdown {
  display:inherit;
}

.public-username {
  display: inline;
}

.follow-button {
  display: inline;
}

.container>.public_profile {
  display:flex;
}

.public_profile {
  display:none;
}

.card-collection-img {
  cursor:pointer;
}

.login-error {
  margin-left: auto;
  margin-right: auto;
  width:300px;
  animation: move-up 0.8s ease-in-out, fade-out 0.8s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s, 3s;
}

.feed-error {
  position:fixed;
  left:0;
  right:0;
  bottom:25px;
  max-width: 400px;
  animation: move-up 0.8s ease-in-out, fade-out 0.8s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s, 4s;
  display:none;
  margin-left: auto;
  margin-right:auto;
}

@keyframes move-up {
  0% {
    opacity:0;
    transform: translateY(50px);
  }

  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@keyframes fade-out {
  0% {
    opacity:1;
  }

  100% {
    opacity:0;
  }
}

.alert .login-error-message {
  display: inherit;
}

.login-error-message {
  display: none;
}

.followers {
  background-color: #EEEEEE;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  padding:10px;
  margin-bottom: 4px;
  height:60px;
  line-height: 35px;
}
